<head>
  <link rel="stylesheet" href="404.css">
  <script src="404.js"></script>
<div class="text">
  <h1>ERROR</h1>
  <h1>404</h1>
  <p>Don't waste your time in this website >_<* </p>
  </div>
  <div class="sky">
  <div class="sky__phase sky__dawn"></div>
  <div class="sky__phase sky__noon"></div>
  <div class="sky__phase sky__dusk"></div>
  <div class="sky__phase sky__midnight">
    <div id="sky__stars"></div>
  </div>
  <div class="orbit">
    <div class="sun"></div>
    <div class="moon"></div>
  </div>
</div>
<button id="toggle-animation">
  <span class="playing">Pause</span>
  <span class="paused">Play</span>
</button>
</head>