<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="POST" action="{% url 'create' %}">
            {% csrf_token %}
            <input type="url" name="url" required>
            <input type="submit">
        </form>
        <p><a href="{% url 'sites' %}">View blocked list</a></p>
    </body>
</html>