{% extends 'base.html' %}
{% load static %}

{% block title %} Blocked Sites {% endblock %}
{% block main %}
        <style>
            h1{
                font-weight: bold;
                margin-top: 5%;
                text-align: center;
            }
            table{
                width: 40%;
                margin-left: auto;
                margin-right: auto;
            }
            th{
                margin-top: 0px;
                text-transform: uppercase;
                background-color: #adb5bd;
                height: 50px;
                margin-right: 10px;
                margin-bottom: 10px;
                color: #41464b;
            }
            tr{
                padding: 10px;
                height: 50px;
                border-bottom: 1px solid #6A7BA2;
            }
            tbody tr:nth-child(even){
                background-color: #6A7BA2;
                color: #FFDFDE;
            }
            p {
                text-align: center;
                border: none;
                width: 541px;
                height: 30px;
                margin-left: auto;
                margin-top: 2%;
                text-decoration: none;
                margin-right: auto;
                background-color: #6A7BA2;
            }
            p:hover{
                cursor: pointer;
            }
            #Link{
                color: #FFDFDE;
                transform: scale(1.5);
                text-decoration: none;
                font-weight: bold;
            }
            tbody i{
                color: #414141;
            }
        </style>
        <h1> Blocked Sites</h1>
        <table>
            <thead>
                <tr>
                    <th>Domain</th>
                    <th style="margin-left: 10px;">Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for u in Sites %}
                <tr>
                    <td>{{u.domain}}</td>
                    <td><a href="/extension/edit/{{u.id}}"><i class="fa fa-edit" aria-hidden="true" fa-2x></i></a></td>
                    <td><a href="/extension/delete/{{u.id}}"><i class="fa fa-trash-alt" aria-hidden="true" fa-2x></i></a></td>
                </tr>
                {% endfor %}
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </tbody>
        </table>
        <p><a id="Link" href="{% url 'create' %}">Add more to blocked list</a></p>
        <script src="{% static '/extension/Content.js' %}" type="text/js" async defer></script>
{% endblock %}