{% extends 'base.html' %}
{% load static %}

{% block title %} Chart {% endblock %}

{% block main %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.arrayToDataTable([
          ['Website', 'Timing in minutes', { role: 'style' } ],
          ['Instagram', 35, 'color: gray'],
          ['You Tube', 45, 'color: red'],
          ['Snapchat', 22, 'color:purple'],
          ['stackoverflow', 15, 'color:pink'],
          ['Other', 3, 'color:blue']
        ]);

        var options = {
          width: 800,
          legend: { position: 'none' },
          chart: {
            title: 'Time spent on each websites',
            subtitle: 'based on productivity' },
          axes: {
            x: {
              0: { side: 'bottom', label: 'websites'} // bottom x-axis.
            }
          },
          bar: { groupWidth: "80%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
    </script>
    <style>
      #top_x_div{
        margin: 50px 200px 50px 200px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 600px;
      }
    </style>
    <div id="top_x_div"></div>
{% endblock %}