body{
    background-color: #FFDFDE;
    color: #6A7BA2;
    width: 100%;
}

#navbar{
    padding-top: 20px;
    padding-left: 58%;
    background-color: #6A7BA2;
    color: #FFDFDE;
    height: 70px;
    font-size: larger;
}

#navbar div a{
    text-decoration: none;
    margin-top: 50px;
    margin-right: 30px;
}

#navbar a:hover{
    font-weight: bolder;
    cursor: pointer;
}

#navbar a:visited{
    font-weight: lighter;
    color: #FFDFDE;
    text-decoration: none;
    cursor: pointer;
}
.title:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}
.desc::selection{
    background-color: #6A7BA2;
    color: #FFDFDE;
}

.ctr{
    font-size: 2em;
    text-align: center;
    width: 100%;
}
.desc{
    margin-top: 5%;
}
  /* Animation */
  .title{
    margin-top: 5%;
    background-color: #6A7BA2;
    color: #FFDFDE;
    white-space: nowrap;
    overflow: hidden;    
    transition: transform 1.5s;
    font-size: 6rem;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /* font-weight: bold; */
    /* animation: animated-text 2s steps(29,end) 0s 1 normal both; */
  }